{% extends "base.html" %}

{% block page_id %}activity-settings{% endblock %}
{% block title %}Export and settings{% endblock %}

{% block content %}
<div class="container-narrow">
	<h1>Activity</h1>
	<h2>Export</h2>
	<p>Export all purchases to an <a href="https://incasso.svcover.nl" target="_blank">Incass-o-matic</a> compliant CSV-file.</p>
	<p><a href="{{url_for('pos.activity_export_form')}}" class="btn btn-default">Export</a></p>
	<hr>
	<h2>Settings</h2>
	<form method="post">
		{{ form.hidden_tag() }}
		<div class="form-group">
			{{ form.age_limit.label(class="control-label") }}
			{{ form.age_limit(class="form-control") }}
		</div>
		{{ render_errors(form.age_limit) }}
		<div class="checkbox">
			<label>
				{{ form.stacked_purchases }} {{ form.stacked_purchases.label.text }}
			</label>
		</div>
		{{ render_errors(form.stacked_purchases) }}
		<div class="checkbox">
			<label>
				{{ form.require_terms }} {{ form.require_terms.label.text }}
			</label>
		</div>
		{{ render_errors(form.require_terms) }}
		<div class="form-group" id="option-terms">
			{{ form.terms.label(class="control-label") }}
			{{ form.terms(class="form-control", placeholder="Use markdown to format your terms.") }}
			<span class="help-block">
				You may include the following tags in you terms: [activity], [price-list], [participant-details]
			</span>
		</div>
		{{ render_errors(form.terms) }}
		<div class="form-group" id="option-terms">
			{{ form.faq.label(class="control-label") }}
			{{ form.faq(class="form-control", placeholder="Use markdown to format your FAQ") }}
		</div>
		{{ render_errors(form.faq) }}
		<div class="form-group">
			{{ form.uuid_prefix.label(class="control-label") }}
			{{ form.uuid_prefix(class="form-control") }}
		</div>
		{{ render_errors(form.uuid_prefix) }}
		<button type="submit" class="btn btn-primary">Submit settings</button>
	</form>
	<hr>
	<h2>Public registration</h2>
	<p>
		Using this public link, people can create an account for this event in BAR from their mobile device. Print a QR code with this link and display it close to the bar so people can easily reach the page. This can help reduce congestion at the bar during the event.
	</p>
  	<div class="form-group">
		<div class="input-group">
			<input class="form-control" type="text" readonly value="{{ url_for('pos.add_participant_public', activity_id=current_user.id, _external=True) }}" id="public-registration-link">
			<span class="input-group-btn">
			   <button class="btn btn-default" type="button" data-copy="#public-registration-link">Copy</button>
			</span>
		</div>
	</div>
	{% if config.STAND_ALONE %}
		<div class="alert alert-danger" role="alert">
			<strong>Warning!</strong>This is a stand-alone instance of BAR. Using public registration is not recommended for the stand-alone configuration, as it shouldn't be run on a public network.
		</div>
	{% endif %}
</div>
{% endblock %}

{% block scripts %}
	{{super()}}
	<script>
		class CopyButton {
			static parseDocument(context) {
				context.querySelectorAll('[data-copy]').forEach(function(element) {
					new CopyButton({
						element: element,
					});
				});
			}

			constructor(options) {
				this.element = options.element;
			    this.element.addEventListener('click', this.handleClick.bind(this));
			}

			async handleClick(evt) {
				let el = document.querySelector(this.element.dataset.copy);
				try {
					await navigator.clipboard.writeText(el.value);
					this.element.blur();
					this.element.disabled = true;
					this.element.classList.replace('btn-default', 'btn-success');
					setTimeout(() => {
						this.element.disabled = false;
						this.element.classList.replace('btn-success', 'btn-default');
					}, 2000);
				} catch (e) {
					console.error(e);
					prompt('Error copying link. Try copying it manually instead instead.');
				}
			}
		}
		CopyButton.parseDocument(document);
	</script>
{% endblock %}