{% extends "admin/base.html" %}

{% block content %}
<div class="container-narrow content">
    <header class="content-header">
        <h1>{% block title %}{{mode|title}} activity{% endblock %}</h1>
        <div class="content-controls">
            {% if mode != 'add' %}
                <div class="btn-group" role="group">
                    <a href="{{url_for('admin.export_activity', activity_id=id)}}" class="btn btn-default" download>Export</a>
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                        <li><a href="{{url_for('admin.archive_activity', activity_id=id)}}">Archive</a></li>
                        <li><a href="{{url_for('admin.delete_activity', activity_id=id)}}">Delete</a></li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </header>
    <form method="post" action="{{ url_for('admin.add_activity') if mode == 'add' else url_for('admin.edit_activity', activity_id=id) }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label(class="control-label") }}
            {{ form.name(class="form-control") }}
        </div>
        {{ render_errors(form.name) }}
        <div class="form-group">
            {{ form.passcode.label(class="control-label") }}
            {{ form.passcode(class="form-control") }}
        </div>
        {{ render_errors(form.passcode) }}
        <div class="checkbox">
            <label>
                {{ form.active }} {{ form.active.label.text }}
            </label>
        </div>
        {{ render_errors(form.active) }}
        <button type="submit" class="btn btn-primary">Submit</button><a href="{{url_for('admin.list_activities')}}" class="btn btn-link">Back</a>
    </form>
</div>
{% endblock %}
