{% extends "admin/base.html" %}

{% block content %}
<div class="container-narrow content">
    <header class="content-header">
        <h1>{{ activity.name }}</h1>
        <div class="content-controls">
            {% if not activity.is_archived %}
                <a href="{{url_for('admin.edit_activity', activity_id=activity.id)}}" class="btn btn-default" download>Edit</a>
                <div class="btn-group" role="group">
                    <a href="{{url_for('admin.export_activity', activity_id=activity.id)}}" class="btn btn-default" download>Export</a>
                    <button class="btn btn-default dropdown-toggle" type="button" id="controls-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="controls-menu">
                        <li><a href="{{url_for('admin.archive_activity', activity_id=activity.id)}}">Archive</a></li>
                        <li><a href="{{url_for('admin.delete_activity', activity_id=activity.id)}}">Delete</a></li>
                    </ul>
                </div>
            {% else %}
                <a href="{{url_for('admin.delete_activity', activity_id=activity.id)}}" class="btn btn-default">Delete</a>
            {% endif %}
        </div>
    </header>
    <section>
        <a href="{{url_for('admin.list_activities')}}">
            Back to all activities
        </a>
    </section>
    <section>
        <h2>Products</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Age Limit</th>
                    <th class="text-right">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for product in activity.products %}
                <tr id="{{ product.id }}">
                    <td>{{product.name}}</td>
                    <td>
                        {% if product.age_limit %}
                            <span class="glyphicon glyphicon-ok text-success"><span class="sr-only">Yes</span></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove text-danger"><span class="sr-only">No</span></span>
                        {% endif %}
                    </td>
                    <td class="text-right">{{product.price|format_exchange}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <section id="pos-stats">
        <h2>Statistics</h2>
        <p>
            <strong>Total participants:</strong> {{ stats.participants.total }}
        </p>
        <p>
            <strong>Participants with purchase:</strong> {{ stats.participants.with_purchase }}
        </p>
        <h3>Auction</h3>
        <p>
            <strong>Total sales:</strong> {{ stats.auction_purchases_total.amount|format_exchange }} ({{ stats.auction_purchases_total.units }} units)
        </p>
        <h3>Bar</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-sm-7">Product</th>
                    <th class="col-sm-3 text-right">Amount</th>
                    <th class="col-sm-2 text-right">Units</th>
                </tr>
            </thead>
            <tbody>
                {% for product in stats.pos_purchases_products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td class="text-right">{{ product.amount|format_exchange }}</td>
                        <td class="text-right">{{ product.units }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3" class="text-center">No products :(</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Total</th>
                    <th class="text-right">{{ stats.pos_purchases_total.amount|format_exchange }}</th>
                    <th class="text-right">{{ stats.pos_purchases_total.units }}</th>
                </tr>
            </tfoot>
        </table>
    </section>
    <section id="pos-stats">
        <h2>Settings</h2>
        <div class="form-group">
            <label for="setting-age-limit">Age limit (minimal legal age)</label>
            <div class="input-group">
                <input class="form-control" type="text" readonly value="{{ activity.age_limit }}" id="setting-age-limit">
                <span class="input-group-btn">
                   <button class="btn btn-default" type="button" data-copy="#setting-age-limit">Copy</button>
                </span>
            </div>
        </div>
        <p>
            <strong>Allow stacked purchases (e.g. buy 6 beers at once):</strong>
            {% if activity.stacked_purchases %}
                <span class="glyphicon glyphicon-ok text-success"><span class="sr-only">Yes</span></span>
            {% else %}
                <span class="glyphicon glyphicon-remove text-danger"><span class="sr-only">No</span></span>
            {% endif %}
        </p>
        <p>
            <strong>Accept terms before purchases:</strong>
            {% if activity.require_terms %}
                <span class="glyphicon glyphicon-ok text-success"><span class="sr-only">Yes</span></span>
            {% else %}
                <span class="glyphicon glyphicon-remove text-danger"><span class="sr-only">No</span></span>
            {% endif %}
        </p>
        <div class="form-group">
            <label for="setting-terms">Terms</label>
            <div class="textarea-group">
                <textarea class="form-control" rows="3" id="setting-terms" readonly>{% if activity.terms %}{{ activity.terms }}{% endif %}</textarea>
                <span class="textarea-group-btn">
                   <button class="btn btn-default" type="button" data-copy="#setting-terms">Copy</button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="setting-faq">FAQ</label>
            <div class="textarea-group">
                <textarea class="form-control" rows="3" id="setting-faq" readonly>{% if activity.faq %}{{ activity.faq }}{% endif %}</textarea>
                <span class="textarea-group-btn">
                   <button class="btn btn-default" type="button" data-copy="#setting-faq">Copy</button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="setting-uuid-prefix">Ticket UUID prefix</label>
            <div class="input-group">
                <input class="form-control" type="text" readonly value="{% if activity.uuid_prefix %}{{ activity.uuid_prefix }}{% endif %}" id="setting-uuid-prefix">
                <span class="input-group-btn">
                   <button class="btn btn-default" type="button" data-copy="#setting-uuid-prefix">Copy</button>
                </span>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block scripts %}
    {{super()}}
    <script>
        class CopyButton {
            static parseDocument(context) {
                context.querySelectorAll('[data-copy]').forEach(function(element) {
                    new CopyButton({
                        element: element,
                    });
                });
            }

            constructor(options) {
                this.element = options.element;
                this.element.addEventListener('click', this.handleClick.bind(this));
            }

            async handleClick(evt) {
                let el = document.querySelector(this.element.dataset.copy);
                try {
                    await navigator.clipboard.writeText(el.value);
                    this.element.blur();
                    this.element.disabled = true;
                    this.element.classList.replace('btn-default', 'btn-success');
                    setTimeout(() => {
                        this.element.disabled = false;
                        this.element.classList.replace('btn-success', 'btn-default');
                    }, 2000);
                } catch (e) {
                    console.error(e);
                    prompt('Error copying link. Try copying it manually instead instead.');
                }
            }
        }
        CopyButton.parseDocument(document);
    </script>
{% endblock %}
